name: Deploy to github pages
on:
  push:
    branches:
      - master
jobs:
  gh-pages-deploy:
    name: Deploying to gh-pages
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v2.1.4
        with:
          version:  12.x
      - name: Checkout branch
        uses: actions/checkout@v2.3.4

      - name: Clean install dependencies
        run: yarn install

      - name: Run deploy script
        run: |
          git config user.name "MiniDigger" && git config user.email "admin@minidigger.me"
          yarn run gh-pages-deploy
